body{
    margin-left: 50px;
    margin-right: 50px;
}

#tableau-sortie{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

#home-liste-sortie{
    overflow-y:scroll;
    margin-left: 10px;
    height: 30vh;
    width: max-content;
}
.home-liste-sortie{
    overflow-y:scroll;
    margin-left: 10px;
    height: 30vh;
    width: max-content;
}