#tableau-sortie{
    display: flex;
    justify-content: center;
    padding-top: 5vh;
    padding-bottom: 2.5vh;
}

#home-liste-sortie{
    margin-left: 10px;
    width: max-content;
}

h2{
    margin-left: 20px;
}

 #filtre{
    margin-left: 20px;
}

#filtre-recherche button,
#bouton-creer-sortie a{
    margin: auto;
    padding: 20%;
    width: 10vw;
    border-radius: 16px;
    min-width: max-content;
    min-height: max-content;
}
#filtre-recherche{
    display: grid;
    justify-content: flex-start;
}
#bouton-creer-sortie{
    display: grid;
    justify-content: flex-start;
}

.label-date-filtre{
    width: max-content;
}

.fixed_header{
    width: 80vw;
    table-layout: fixed;
    border-collapse: collapse;
}

.fixed_header tbody{
    display:block;
    width: 100%;
    overflow-y: scroll;
    height: 26vh;
}


table {
    /*background-color: #e0e0e0;*/
    background-color: #f0f0f0;
}
.fixed_header thead tr {
    background-color: #e0e0e0;
    display: block;
    height: auto;
}

.fixed_header th, .fixed_header td {
    padding: 5px;
    width: 10vw;
}

.centeredtab{
    text-align: center;
}
.centeredtab a {
    text-decoration: none;
}
.orgalink{
    font-weight: 600;
}
.myevent{
    font-style: italic;
}

