#tableau-sortie{
    display: flex;
    justify-content: center;
    padding-top: 10vh;
}

#home-liste-sortie{
    margin-left: 10px;
    width: max-content;
}

h2{
    margin-left: 20px;
}

 #filtre{
    margin-left: 20px;
}

 #filtre-recherche button{
     width: 26vh;
     height: 10vh;
 }

#bouton-creer-sortie a{
    width: 26vh;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label-date-filtre{
    width: max-content;
}

.fixed_header{
    width: 80vw;
    table-layout: fixed;
    border-collapse: collapse;
}

.fixed_header tbody{
    display:block;
    width: 100%;
    overflow-y: scroll;
    height: 26vh;
}

.fixed_header thead {

}

.fixed_header thead tr {
    display: block;
    height: auto;
}

.fixed_header th, .fixed_header td {
    padding: 5px;
    width: 10vw;
}

.centeredtab{
    text-align: center;
}
.centeredtab a {
    text-decoration: none;
}
.orgalink{
    font-weight: 600;
}

.myevent{
    font-style: italic;
    font-weight: 600;
}

