#base-button {
    display: flex;
    justify-content: flex-end;
}

#base-logo{
    width: 70px;
    height: 70px;
}

.base-titre{
    text-align: center;
}

.button-no-button{

}

.button-admin,
.button-primary,
.button-secondary,
.button-warning,
.button-error,
.button-success {
    color: black;
    /*border-radius: 4px;*/
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 0.8em;
}
.button-admin{
    background: rgb(241, 48, 48);
}
.button-primary{
    background : #AAE6FA;
}
.button-secondary{
    background : #FAF391;
}
.button-warning{
    background : lightgray;
}

#lol>tr:nth-child(odd){
    background: white;
}#lol>tr:nth-child(even){
    background: lightpink;
}

 .menu-bordereau{
     background-color: #FAF391;
     height: max-content;
 }


.displayer{
    background: #e0e0e0;
    color: rgba(35, 33, 33, 0.85) !important;
}


#date_compte{
    margin-left: 75vw;
}


.m5{
    margin-left: 15%;
    margin-right: 5%;
}

[type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  90% 50% no-repeat ;
}

.centered{
    text-align: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
}

.detail-table{
    margin-top: 5vh;
}