body{
    background: #ffffff;
    background: radial-gradient(ellipse farthest-corner at center center, #ffffff 0%, rgba(250,243,145,0.5) 100%);
    background: -webkit-radial-gradient(ellipse farthest-corner at center center, #ffffff 0%, rgba(250,243,145,0.5) 100%);
    background: -moz-radial-gradient(ellipse farthest-corner at center center, #ffffff 0%, rgba(250,243,145,0.5) 100%);
}

.menu-bordereau{
    background: #008dff;
    background: linear-gradient(315deg,#008dff 0%, #fffc00 150%);
    background: -webkit-linear-gradient(315deg,#008dff 0%, #fffc00 150%);
    background: -moz-linear-gradient(315deg,#008dff 0%, #fffc00 150%);

}
#grouplogo a{
    text-decoration: none;
}
#logologo{
    margin-top: auto;
    margin-left: 5vw;
    width: 70px;
    height: 70px;
    /*filter: invert(8%) sepia(100%) saturate(6481%) hue-rotate(246deg) brightness(102%) contrast(143%);*/
    filter: invert(75%) contrast(119%) saturate(246%)  sepia(1);
}
#logodotcom{
    height: 75px;
}
#menu-nav{
    margin-top: auto;

}
.button-nav,
.button-nav-admin{
    color: rgb(45, 44, 44);
    text-shadow: 0 1px 1px rgba(30, 100, 197, 0.5);
    font-size: 1.2em;
    background-color: #e0e0e0;
    border: 1px solid #9fcbf9;
    border-radius: 10% 10px 5% 5px;
}
.button-nav-admin{
    border: 1px solid #d22828;
    color: #d22828;
}

.warning-msg{
    color: red;
    font-style: italic;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: inherit;
    font-size: 80%;
    padding: .5em 1em;
   /* border: none transparent;
    background-color: #e6e6e6;
    border-radius: 2px; */
}


.button-admin,
.button-primary,
.button-secondary,
.button-warning,
.button-error,
.button-success {
    color: black;
    /*border-radius: 4px;*/
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 0.9em;
}
.button-admin{
    font-size: 0.9em;
    background: rgb(241, 48, 48);
}
.button-primary{
    font-size: 0.9em;
    background : #AAE6FA;
}
.button-secondary{
    font-size: 0.9em;
    background : #FAF391;
}
.button-warning{
    font-size: 0.9em;
    background : lightgray;
}

#hometabbody>tr:nth-child(odd){
    background: white;
    /*font-weight: bold;*/;
}#hometabbody>tr:nth-child(even){
    background: rgba(17, 144, 199, 0.79);
    color: #ffffff;
    text-shadow: 1px 1px 0px rgb(0 0 0);
     /*font-weight: bold;*/
}
a{
    text-shadow: none;
    font-weight: normal;
}




.displayed{
    /*font-weight: bold;*/
    color: rgba(35, 33, 33, 0.85) !important;
    width: max-content;
}
.labeldisplay{
    padding: inherit;
}
.inline{

}
#date_compte{
    margin-top: 3vh;
    margin-left: 70vw;
}
.lab{
    font-weight: bold;
}


.ml10{
    margin-left: 10%;
}
.m5{
    margin-left: 15%;
    margin-right: 5%;
}
.mt1{
    margin-top: 1%;
}

.mb1{
    margin-bottom: 1%;
}

/*
    //  ajoute une icone dans les date picker field
[type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  90% 50% no-repeat ;
}
*/
.centered{
    text-align: left;
    justify-content: center;
    justify-self: center;
    justify-items: center;
}

.detail-table{
    margin-top: 5vh;
}

.centred-conteneur{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
}

#bouton-creer-sortie>a,#filtre-recherche>button {
    border-radius: 25px;
}


.pure-control-group label{
    text-align: left !important;
}
.spacement{
    margin-bottom: 0.8em !important;
}
.spacement>label{
    margin-bottom: 0.5em !important;
}
.spacement>label:first-child{
    font-weight: bold;
    text-decoration:  underline ;
}

.pickerrow{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    align-content: center;
}
.fix16px{
    width: 16px;
}

 .formsortie textarea,
 .formsortie select,
 .formsortie input{
     min-width: 12vw;
     max-width: 12vw;
 }
 .input-group{
     min-width: 10vw !important;
     max-width: 10vw !important;
 }
 .pure-controls{
     letter-spacing: normal;
 }
#filtre{
    padding-left: 1.5%;
}

 /* formulaire 'id' used for js :
 - formulaire-modifier
 -
 -
 -
  */