.modal {
    border-radius: 5px;
    border: solid 2px #2ba0d4;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: none;
    width: 50vw;
    height: 40%;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 9999;
    overflow-y: auto;
}
.modal > p {
    padding: 15px;
    margin: 0;
}
.modal-header {
    background-color: #f9f9f9;
    border-bottom: 1px solid #dddddd;
    box-sizing: border-box;
    height: 40px;
}
.modal-header h3 {
    margin: 0 !important;
    box-sizing: border-box;
    padding-left: 15px;
    line-height: 40px;
    color: #4d4d4d;
    font-size: 16px;
    display: inline-block;
}
.modal-header label {
    margin: 0 !important;
    box-sizing: border-box;
    border-left: 1px solid #dddddd;
    float: right;
    line-height: 40px;
    padding: 0px 10px 0px 10px;
    cursor: pointer;
}
.modal-header label:hover img {
    opacity: 0.6;
}
.modal-inputs{
    display: grid;
    justify-content: center;
    margin: 4vh 0;
}