{% extends 'base.html.twig' %}

{% block title %}Détails d'une sortie{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Ceci est un détails de sortie</h1>
    </div>

{% endblock %}
