{% extends 'base.html.twig' %}

{% block title %}Modifier une ville{% endblock %}

{% block body %}
    <form method="post" class="pure-form pure-form-aligned"
          style="	position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
    ">
        <fieldset>
            <legend>Modifier une ville</legend>
            <div class="pure-control-group">
                {{ form_row(formUpdate.nom) }}
            </div>
            <div class="pure-control-group">
                {{ form_row(formUpdate.codePostal) }}
            </div>
            <button class="pure-button pure-button-primary">{{ button_label|default('Modifier') }}</button>
        </fieldset>
        {{ form_rest(formUpdate) }}
    </form>



{% endblock %}
