{% extends 'base.html.twig' %}

{% block title %}Erreur serveur{% endblock %}

{% block body %}
    <div class="centred-conteneur" style="flex-direction: column">
        <p>Erreur serveur : 500</p>
        <a href="{{ path('home') }}"><button class="pure-button button-primary">Retour à l'acceuil</button></a>
    </div>
{% endblock %}